// Place all the styles related to the public::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: image-url("complete.JPG");
  background-size: cover;
  height: 1000px;
}