<div class="container">
  <div clas="row mt-5">
    <div class="col-8 mx-auto">
      <h2>木型一覧</h2>
      <table class="table">
        <%= @lasts.each do |last| %>
        <tr>
          <td>木型ID</td>
          <td>木型名</td>
        </tr>
        <tr>
          <th><%= last.id %></th>
          <th><%= link_to last.name, admin</th>
        </tr>
      </table>
    </div>
  </div>
</div>