<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h2>革のランク新規登録</h2>
      <%= form_with model: [:admin, @rank], local:true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>ランク名</td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td>価格</td>
              <td class="text-nowrap"><%= f.text_field :price, class: "form-control mr-1", style: "display: inline" %>円</td>
            </tr>
            <tr>
              <td> </td>
              <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>