<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <%= image_tag("IMG_3428.png", class: "img-fluid") %>
    </div>
    <div class="col-6 mx-auto">
      <h4>プロフィール</h4>
      <ul>
        <li>名前：樋口翔太</li>
        <li>出身：奈良県</li>
        <li>経歴：大学卒業後、上京し靴の修理会社に勤めフィニッシャーを担当。</br>
            OEMの靴工場に入社し、底付を担当。
        </li>
        <li>
          現在：浅草の某工房で、木型作り、型紙、アッパー製作、底付など教わりました。<br>
          これからも技術を上げていくため勉強中です。
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<hr></hr>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h4>革について</h4>
      <div>
        <p>　本工房では革をランク別に分けて販売しています。</p>
        <ul>
          <li>
            <p>
              最高級革：有名タンナーの革を使用（アノネイ、デュプイ、イルチアなど）<br>
              高級志向、ビスポークシューズなどを作ってみたい人向け
            </p>
          </li>
          <li>
            <p>
              国産革：国産の革を使用<br>
              ハリもあるので、既製品と同じような靴を作ってみたい人向け
            </p>
          </li>
          <li>
            <p>
              おまかせ：仮アッパーなどで使用する革
              靴作りを体験してみたい人向け
            </p>
          </li>
        </ul>
        <small>
          ※革の入荷状況によって、値段が変更される場合があります。<br>
          ※革の入荷状況によって、手に入らない場合があります。
        </small>
      </div>
    </div>
    <div class="col-6 mx-auto">
      <%= image_tag("BC7A96E2-7CA6-4FA7-97E3-D52A937DC52A.jpeg", class: "img-fluid") %>
    </div>
  </div>
</div>
<hr></hr>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <%= image_tag("F21D2451-9129-49D2-8CCE-C8FBBB53E4D2.jpeg", class: "img-fluid") %>
    </div>
    <div class="col-6 mx-auto">
      <h4>木型について</h4>
      <div>
        <p>　本工房では、木型に合わせ、型紙を一足一足作成しております。<br>
          なので木型にぴったりなアッパーが出来上がります。
        </p>
        <small>
          ※木型はあくまで、本工房オリジナルです。<br>
          ※わかりやすくブランド名を借りていますが、同じ形にはなりません。
        </small>
      </div>
    </div>
  </div>
</div>
<hr></hr>
<div class="container">
  <div class="row mt-5">
    <div class="col-8 mt-mx-auto">
      <h4>その他</h4>
      <div>
        <ul>
          <li>
            浅草にある、老舗の靴材料屋さんです。靴の工具から部材までなんでも揃い、通販もしています。<br>
            もし部材、工具などで悩んだらお問い合わせください。<br>
            <a href="https://www.kkmamoru-nyshop.com/">靴資材、靴材料販売 株式会社マモル HP</a>
          </li>
          <li>
            こちらのYouTubeはすごく丁寧に底付の一つ一つの工程を解説してくれています。<br>
            私も参考にしていますのでよかったら参考にしてみてください。<br>
            <a href="https://www.youtube.com/channel/UCdnDjV_EAhEk0Hdr0uigg7g">足と靴の学校921 村山孝太郎</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
