<div class="container">
  <%= render "top_image" %>
  <div class="row mt-5">
    <div class="mx-auto">
      <h3 class="text-center">ChocolateFactory</h3>
      <p class="text-center">
        本工房では、お客様の要望に応え、アッパー、木型を製作し、販売する工房です。<br>
        デザイン、革のランク、色、木型共に３種類用意しています。<br>
        初心者の方にもわかりやすく、本工房オリジナル教材もご用意していますので、参考にしてください。</br>
      </p>
    </div>
  </div>
</div>
