<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h4>革のカラー編集</h4>
      <%= form_with model: [:admin, @color], local:true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>カラー名</td>
            <td><%= f.text_field :name, class: "form-control" %></td>
          </tr>
          <tr>
            <td> </td>
            <td><%= f.submit "編集する", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>