<div class="jumbotron">
  <div class="container">
    <div class="row mt-5">
      <div class="col-8 mx-auto">
        <div class="text-center">
          <h1 class="text-white">お買い上げありがとうございます。</h1>
          <h4 class="text-white">一点一点丁寧に制作しています。</h4>
          <h4 class="text-white">商品が届くまでお待ちください。</h4>
          <small class="text-white">靴作りの参考にaboutページの下にリンクを貼っています。よければ確認してください。</small>
        </div>
      </div>
    </div>
  </div>
</div>
