<!--<div class="container">-->
<!--  <div class="row mt-5">-->
<!--    <div class="col mx-auto">-->
<!--      <table class="table">-->
        
        
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<%= @items.each do |o| %>
<% end %>