<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <div class="text-center">
        <h1>お問い合わせありがとうございます</h1>
        <h4>
          お問い合わせを受け付けました。<br>
          折り返し、ご連絡いたしますので<br>
          恐れ入りますが、しばらくお待ちください<br>
        </h4>
      </div>
    </div>
  </div>
</div>